<ul>
  <li class=""></li>
  <li class=""></li>
  <li class=""></li>
  <li class=""></li>
  <li class="">Copyright &copy; 2019 Every Day a Vacay!</li>
</ul>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/app.js"></script>
