<!-- <img src="https://placehold.it/200x60" alt="icon"> -->
<img src="../img/logo.png" alt="icon">
<h1>Your Personal <br> Trip Planner</h1>
<nav>
  <ul>
    <a href="../../"><li>HOME</li></a>
    <a href="/trips"><li>SAVED TRIPS</li></a>
    <a href="/profile"><li>USER PROFILE</li></a>
    <a href="/about"><li>ABOUT US</li></a>
  </ul>
</nav>
<i id="menu" class="material-icons">dehaze</i>