<img src="https://placehold.it/200x60" alt="icon">
<nav>
  <ul>
    <li><a href="../../">HOME</a></li>
    <li><a href="../../pages/result">RESULTS</a></li>
    <li><a href="../../pages/about">ABOUT US</a></li>
  </ul>
</nav>
<span id="menu"><i class="material-icons">dehaze</i></span>