<img src="https://placehold.it/200x60" alt="icon">
<h1>Your Trip Planner</h1>
<nav>
  <ul>
    <li><a href="../../">HOME</a></li>
    <li><a href="../../result">RESULTS</a></li>
    <li><a href="../../about">ABOUT US</a></li>
  </ul>
</nav>
<i id="menu" class="material-icons">dehaze</i>