<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <header class="flex-row">
    <%- include('./partials/header.ejs', {name: typeof name !== 'undefined' ? name : false} ) %>
  </header>
  <main class="flex-column">
    <section class="main-content flex-column">
      <h2>Welcome to your Vacation Planner!</h2>
      <h3>Our Mission:</h3>
      <p>
        We are committed to provide the best travel information for your upcoming trips. Making your vacation planning
        experience as smooth, stress-free, and fun as possible!
      </p>
      <h3>How to:</h3>
      <p>Blah-blah-blah click here to start</p>
      <button id="start" class="button">START</button>
    </section>
    <section class="modal">
      <div class="modal-content">
        <form class="flex-column" action="/" %> method="POST">
          <label for="city">Enter the location</label>
          <input class="input" type="text" name="city" placeholder="Enter city of your destination" required>
          <label for="start_date">Enter start date of your vacation</label>
          <input class="input" type="date" name="start_date" required>
          <label for="end_date">Enter end date of your vacation</label>
          <input class="input" type="date" name="end_date" required>
          <label for="vacation_type">Vacation Type</label>
          <select class="input" name="vacation_type">
            <option value="tropical">Tropical</option>
            <option value="snow">Snow</option>
            <option value="pool/beach">Pool/Beach</option>
            <option value="active adventure">Active Adventure</option>
          </select>
          <label for="activities">Select Activities</label>
          <select class="input" name="activities">
            <option value="water-based">Water-based</option>
            <option value="land-based">Land-based</option>
            <option value="high intensity">High intensity</option>
            <option value="relaxed">Relaxed</option>
          </select>
          <button type="submit" class="button">SUBMIT</button>
        </form>
      </div>
    </section>
  </main>
  <footer class="flex-column">
    <%- include('./partials/footer.ejs') %>
    <script src="../js/modal.js"></script>
  </footer>
</body>

</html>