<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <header class="flex-row">
    <%- include('../partials/header.ejs') %>
  </header>
  <main class="flex-column">
    <section class="main-content flex-column">
      <h1>ABOUT US</h1>
   <section class="main-content flex-column">
     <h2>Leo Kukharau</h2>
     <img src="img/Leo.jpg" alt="Leo">
     <p><br>I have background in many different fields including science (tribology), teaching students, running my own business and even working night shifhts at the bread wrapping conveyor. The last 2 years I've been working as HR, QA Coordinator and then a Supervisor for a home care agency. But even though all these positions might seem to have nothing in common, they all are connected for me through my passion to tech as no matter what position I held besides my main duties I always ended up focusing on some tech-related tasks. So I realized that the time has come for me to stop beating around the bush and finally switch my career towards software development.</p>
     
     
    <a href="https://www.linkedin.com/"><img src="img/icons/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
    <a href="https://www.facebook.com/"><img src="img/icons/facebook.png" title="Go to Facebook" alt="Facebook"></a>
    <a href="mailto:name@email.com">Email him!</a>
   </section>
   <section class="main-content flex-column">
      <h2>Diana Kim</h2>
      <img src="img/Diana.jpg" alt="Diana">
      <p><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

      <a href="https://www.linkedin.com/"><img src="img/icons/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
    <a href="https://www.facebook.com/"><img src="img/icons/facebook.png" title="Go to Facebook" alt="Facebook"></a>
    <a href="mailto:name@email.com">Email him!</a>
    </section>
    <section class="main-content flex-column">
        <h2>Tammy Ip</h2>
        <img src="img/Tammy.jpg" alt="Tammy">
        <p><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <a href="https://www.linkedin.com/"><img src="img/icons/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
    <a href="https://www.facebook.com/"><img src="img/icons/facebook.png" title="Go to Facebook" alt="Facebook"></a>
    <a href="mailto:name@email.com">Email him!</a>
      </section>
      <section class="main-content flex-column">
          <h2>Ehsan Ghafari</h2>
          <img src="img/Ehsan.jpg" alt="Ehsan">
          <p><br>Life is short, so, I always trying to be happy and don't take everything too serious. I love coding and being in this field. I want to be an iOS developer later but now learning Javascript and basically front end developing. I love doing this project with this amazing team and we are so proud of it. I hope you enjoy using it and possibly find your partner in here because we worked hard to make sure you find your match!</p>

          <a href="https://www.linkedin.com/"><img src="img/icons/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
    <a href="https://www.facebook.com/ehsanext"><img src="img/icons/facebook.png" title="Go to Facebook" alt="Facebook"></a>
    <a href="mailto:ehsanext@gmail.com">Email him!</a>
        </section>
      
    </section>
  </main>
  <footer class="flex-column">
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>