<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <header class="flex-row">
    <%- include('../partials/header.ejs') %>
  </header>
  <main class="flex-column">
    <section class="main-content flex-column">
      <h1>ABOUT US</h1>
   <section class="main-content flex-column">
     <h2>Leo Kukharau</h2>
     <img src="img/Leo.jpg" alt="Leo">
     <p><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
     
     
    <a href="https://www.linkedin.com/"><img src="icons/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
    <a href="https://www.facebook.com/"><img src="icons/facebook.png" title="Go to Facebook" alt="Facebook"></a>
    <a href="mailto:name@email.com">Email him!</a>
   </section>
   <section class="main-content flex-column">
      <h2>Diana Kim</h2>
      <img src="img/Diana.jpg" alt="Diana">
      <p><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

      <a href="https://www.linkedin.com/"><img src="icons/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
    <a href="https://www.facebook.com/"><img src="icons/facebook.png" title="Go to Facebook" alt="Facebook"></a>
    <a href="mailto:name@email.com">Email him!</a>
    </section>
    <section class="main-content flex-column">
        <h2>Tammy Ip</h2>
        <img src="img/Tammy.jpg" alt="Tammy">
        <p><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <a href="https://www.linkedin.com/"><img src="icons/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
    <a href="https://www.facebook.com/"><img src="icons/facebook.png" title="Go to Facebook" alt="Facebook"></a>
    <a href="mailto:name@email.com">Email him!</a>
      </section>
      <section class="main-content flex-column">
          <h2>Ehsan Ghafari</h2>
          <img src="img/Ehsan.jpg" alt="Ehsan">
          <p><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          <a href="https://www.linkedin.com/"><img src="icons/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
    <a href="https://www.facebook.com/ehsanext"><img src="icons/facebook.png" title="Go to Facebook" alt="Facebook"></a>
    <a href="mailto:ehsanext@gmail.com">Email him!</a>
        </section>
      
    </section>
  </main>
  <footer class="flex-column">
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>