<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head class="flex-row">
<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <main>
    <h1>ERROR</h1>
    <p>
      <%= err %>
    </p>
  </main>
  <footer class="flex-column">
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>