<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <header class="flex-row">
    <%- include('../partials/header.ejs') %>
  </header>
  <main class="flex-column">
    <section class="main-content flex-column">
      <h2>Register new user</h2>
      <form class="flex-column" action="/register" method="POST">
        <label for="name">Name</label>
        <input class="input" type="text" name="name" id="name" required>
        <label for="email">Email</label>
        <input class="input" type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input class="input" type="password" name="password" id="password" required>
        <button class="button" type="submit">Register</button>
      </form>
      <p class="register medium">Go back to <a href="/login">LOGIN</a></p>
    </section>
  </main>
  <footer class="flex-column">
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>