<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <main class="flex-column">
      <section class="main-content flex-column">
        <h1>RESULTS</h1>
        <ul>
          <% weather.forEach( day => { %>
            <li><%= day.summary %></li>
          <% }) %>
        </ul>
      </section>
  </main>
  <footer class="flex-column">
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>