body {
  width: 100%;
  margin: 0 auto;
}

header, footer {
  width: 100%;
  min-height: 3rem;
  position: fixed;
  left: 0;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

main {
  margin-top: 6rem;
}

nav {
  display: none;
}