/* RESULT PAGE */
.result {
  text-align: center;
}

.result h3 {
  font-size: 14pt;
  font-weight: 600;
  padding: 1rem 0;
  color: #ED4E14;
  margin-top: 1rem;
}

.scroll-x {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  overflow-x: auto;
  flex-wrap: wrap;
  padding-left: 3%;
  padding-top: 3%;
}

ul.items {
  text-align: left;
}

/* RESULT PAGE CHECKBOXES */
.edit {
  display: none;
}

.items input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

.items input[type=checkbox] {
  opacity: 0;
}

.items input[type="checkbox"] + label:before {
  border: 1px solid rgb(83, 83, 83);
  border-radius: 3px;
  content: "\00a0";
  display: inline-block;
  height: 12pt;
  width: 12pt;
  line-height: 12pt;
  margin: 3px 12px 3px -19px;
}

.select input[type="checkbox"]:checked + label:before {
  /* color: rgb(83, 83, 83); */
  color: #08BD29;
  content: "\2714";
  text-align: center;
}

.delete input[type="checkbox"]:checked + label:before {
  color: rgb(189, 35, 8);
  content: "\2716";
  text-align: center;
}

.items label {
  margin-right: 0.3rem;
}

/* LOGIN AND REGISTER PAGES */
.register {
  padding-top: 2rem;
}

.register a {
  font-weight: 600;
}

/* ABOUT US PAGE */
.about a > img {
  width: 2em;
  height: 2em;
}

.about section > img {
  margin-bottom: 1rem;
  max-width: 250px;
}

/* FORMS */
form label {
  margin: 0.5rem auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
}

/* CLASSES */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.country-info {
  flex-direction: column;
  text-align: left;
  margin: 1em 0;
  margin-left: 0.5rem;
  padding-bottom: 0;
}

.country-info ul {
  margin-left: 1em;
}

.country-info img {
  max-width: 45%;
}

.country-info * {
  padding-bottom: 0.6rem
}

.forecast-list {
  text-align: left;
}

.forecast-list > section {
  margin: 1.3em;
}

.date-temp-icon {
  display: flex;
  flex-direction: row;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 4; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background: #dfe6e9;
  margin: 5rem 2rem 2rem 2rem;
  padding: 2rem 1.5rem;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.trip-dates {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.trip-dates label {
  width: 35%;
  margin: 0.7rem 0 0 0;
  padding: 0.5rem;
  text-align: left;
}

.button {
  box-sizing: border-box;
  height: 3.5rem;
  margin-top: 1rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem 4rem;
  background: #e17055;
  color: white;
  cursor: pointer;
  font-size: 100%;
  outline: none;
}

.button-small {
  box-sizing: border-box;
  height: 2rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem 1rem;
  background: #e17055;
  color: white;
  cursor: pointer;
  font-size: 100%;
  outline: none;
}

.main-content {
  margin: 1rem 2rem;
  background: #fff2c9;
  padding: 3rem 2rem;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  line-height: 1.5em;
}

.input {
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  background: white; 
}

.icon {
  width: 32px;
  margin-right: 5px;
}

.result-weather-icon {
  width: 40px;
  margin-right: 5px;
}

.medium {
  font-size: 14pt;
}

.spacious {
  font-size: 12pt;
  line-height: 1.8;
}

.red {
  color: #d63031;
}

/* TRIPS PAGE */
.trip {
  width: 100%;
  background: #dfe6e9;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
}

.trip h3 {
  align-self: flex-start;
}

/* TEMP PREFERENCES */
#summer-winter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.season-container {
  display: flex;
  flex-direction: column;
}

.season-container > p {
  margin: 1em 2em 1em 0;
  text-align: left;
}
.selection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1.3em;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fahrenheit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temp-pref-icon {
  max-width: 50%;
}

.climate-icon {
  width: 6%;
}

.slider {
  -webkit-appearance: slider-vertical;
}

.justify {
  text-align: justify;
}

@media (min-width: 800px) {
  #summer-winter-container {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .country-info {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  
  .country-info img {
    align-self: top;
    max-width: 35%;
  }
  
  .trip-dates {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .left, .right {
    flex-direction: row;
  }

  .trip-dates label {
    text-align: center;
  }
}
