nav ul li:hover {
  background: #fdbf4c;
  color: #fffaeb;
}

#menu:hover {
  color: #fffaeb;
}

.button:hover {
  background: #dc5838;
}

#menu:active, 
nav ul li:active,
.button:active {
  transform: translateY(2px);
}