nav ul li:hover {
  background: #fdbf4c;
  color: #fffaeb;
}

#menu:hover {
  color: #fffaeb;
}

.button:hover, .button-small:hover {
  background: #dc5838;
}

#menu:active, 
nav ul li:active,
.button:active,
.button-small:active {
  transform: translateY(2px);
}

@media print {
  .no-print, header, footer {
    display: none;
  }

  @page {
    size: auto;
    margin: 1in;
  }

  .scroll-x {
    display: block;
    width: 7.5in;
    height: 7.1in;
    overflow: visible;
    column-width: 14em;
    column-gap: 3em;
  }
}
