nav ul li:hover {
  background: #fdbf4c;
  color: #fffaeb;
}

#menu:hover {
  color: #fffaeb;
}

.button:hover {
  background: #dc5838;
}

#menu:active, 
nav ul li:active,
.button:active {
  transform: translateY(2px);
}

@media print {
  .no-print, header, footer {
    display: none;
  }

  @page {
    size: auto;
    margin: 1in;
  }

  .scroll-x {
    display: block;
    width: 7in;
    height: 9in;
    overflow: visible;
    column-width: 14em;
    column-gap: 3em;
  }
}
